.card__preview {
  display: block;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding-bottom: 100%;
  transform-origin: bottom;
  transition: 1s ease;
  opacity: .85;
}

.card__preview:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 1;
}
